In [1]:
import pandas as pd 
ds = pd.read_csv("SUBa.csv")
ds.head(10)

,Región,Provincia,Comuna,Seleccionados,Pagados,Código Único Territorial,Programa,Capa
0,Tarapacá,Iquique,Iquique,593,203,1101,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
1,Tarapacá,Iquique,Alto Hospicio,291,104,1107,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
2,Tarapacá,Tamarugal,Pozo Almonte,31,10,1401,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
3,Tarapacá,Tamarugal,Camiña,3,0,1402,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
4,Tarapacá,Tamarugal,Colchane,1,1,1403,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
5,Tarapacá,Tamarugal,Huara,4,0,1404,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
6,Tarapacá,Tamarugal,Pica,10,5,1405,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
7,Antofagasta,Antofagasta,Antofagasta,439,185,2101,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
8,Antofagasta,Antofagasta,Mejillones,5,4,2102,Arriendo_2014_2019,Subsidio Arriendo 2014-2019
9,Antofagasta,Antofagasta,Sierra Gorda,1,0,2103,Arriendo_2014_2019,Subsidio Arriendo 2014-2019

In [2]:
def filtro_region(df, region):
    df_filtrada = df(region, 1)
    pass

In [3]:

df = pd.read_csv('bono.csv')
df.head()

,_id,Region,Cod.Comuna,Glosa.Comuna,No en PBS,Mto.en PBS,No sin PBS,Mto.sin PBS,No en APS Internas,Mto.en APS Internas,Total No,Total Mto. m$
0,1,15.0,15101.0,ARICA,1711.0,16865.228,175.0,1735.217,75.0,879.887,1961,19480.332
1,2,15.0,15102.0,CAMARONES,7.0,85.364,0.0,0.000,0.0,0.000,7,85.364
2,3,15.0,15201.0,PUTRE,18.0,299.765,1.0,15.782,0.0,0.000,19,315.547
3,4,15.0,15202.0,GENERAL LAGOS,10.0,174.932,0.0,0.000,0.0,0.000,10,174.932
4,5,1.0,1101.0,IQUIQUE,1245.0,11184.990,117.0,1702.094,76.0,941.906,1438,13828.990

In [4]:
dc = pd.read_csv("leype.csv")
dc

,Año,Mes,Moneda,Subtítulo,Nombre Subtítulo,Monto Ley Inicial,Monto Ley Vigente a NOVIEMBRE
0,2022,Noviembre,PESOS,8,OTROS INGRESOS CORRIENTES,0,3.234.457
1,2022,Noviembre,PESOS,15,SALDO INICIAL DE CAJA,0,240.628.711
2,2022,Noviembre,PESOS,21,GASTOS EN PERSONAL,0,142.674.550
3,2022,Noviembre,PESOS,22,BIENES Y SERVICIOS DE CONSUMO,0,393.555.648
4,2022,Noviembre,PESOS,24,TRANSFERENCIAS CORRIENTES,0,1.638.352.214
5,2022,Noviembre,PESOS,29,ADQUISICIÓN DE ACTIVOS NO FINANCIEROS,0,8.850.285
6,2022,Noviembre,PESOS,31,INICIATIVAS DE INVERSIÓN,0,1.053.291.076
7,2022,Noviembre,PESOS,32,PRÉSTAMOS,0,24.524.736
8,2022,Noviembre,PESOS,33,TRANSFERENCIAS DE CAPITAL,0,315.048.280
9,2022,Noviembre,PESOS,34,SERVICIO DE LA DEUDA,0,242.312.933
10,2022,Noviembre,PESOS,35,SALDO FINAL DE CAJA,0,1.000